<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TRACKING_ID</key>
	<string>UA-77251368-1</string>
	<key>CLIENT_ID</key>
	<string>303546570344-03b32b71knftdq2fqccj0aq073a7ah24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303546570344-03b32b71knftdq2fqccj0aq073a7ah24</string>
	<key>GCM_SENDER_ID</key>
	<string>303546570344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>goteso.FreJun</string>
	<key>PROJECT_ID</key>
	<string>frejun-8869d</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:303546570344:ios:359b8dcf607c46c3</string>
	<key>UIBackgroundModes</key>
	<array>
		<string></string>
	</array>
</dict>
</plist>
